body {
  background: #fcfcfa;
  color: #333;
  font-family: sans-serif;
}

#content {
  width: 960px;
  margin: 2em auto 4em auto;
}

h1 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: -2px;
  margin: .3em 0 .1em 0;
}

#tooltip { 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: absolute;              
    padding: 2px 3px;    
    font: 10px sans-serif;    
    background: white; 
    border: 1px solid grey;    
    border-radius: 4px;     
    pointer-events: none;   
    text-align: center;
    max-width: 130px;
}

#tooltip p { 
  margin: 0px;
  padding: 0px;
}

line {
  stroke: grey;
  stroke-opacity: 0.3;
}

circle {
  stroke: grey;
  stroke-opacity: 0.6;
}

.fixed {
  stroke: black;
}

.highlight {
  stroke: red;
  stroke-width: 2px;
  stroke-opacity: 0.6;
}


