body {
  background: #fcfcfa;
  color: #333;
  font-family: "PT Sans", sans-serif;
}

#content {
  width: 960px;
  margin: 2em auto 4em auto;
}

#header h1 {
  font-size: 45px;
  font-weight: 300;
  letter-spacing: -2px;
  margin: .3em 0 .1em 0;
}

p {
  font-size: smaller;
}

a { 
    color: blue;
}

a:not(:hover) {
    text-decoration: none;
}

#menu ul {
  font-size: small;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li {
  padding: 5px 0px;
}


#menu .n-products {
  font-size: 18px;
  margin: 0px;
  margin-top: 15px;
}

.person {
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

#menu img {
  width:50px;
  height:50px;
  object-fit:cover;
  margin-right: 5px;
}

.background {
  fill: #eee;
}

.axis-text {
  font-size: 11px;
}

#main {
  margin-right: 10px;
}

#display {
  margin-top: 20px;
}

.grid-line {
  stroke: #fff;
  stroke-width: 1px;
}