body {
  background: #fcfcfa;
  color: #333;
  font-family: sans-serif;
}

#content {
  width: 960px;
  margin: 2em auto 4em auto;
}

a:not(:hover) {
    text-decoration: none;
}

h1 {
  font-size: 55px;
  font-weight: 300;
  letter-spacing: -2px;
  margin: .3em 0 .1em 0;
}

#header {
  width: 720px;
}

#wrapper {
  display: flex;
}

#main {
  margin-right: 10px;
}

#menu {
  font-size: small;
  margin-top: 0px;
}

#display {
  margin-top: 20px;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li {
  padding: 5px 0px;
}

#menu .n-products {
  font-size: 18px;
  margin: 0px;
  margin-top: 15px;
}

.person {
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

#menu img {
  width:50px;
  height:50px;
  object-fit:cover;
  margin-right: 5px;
}

rect.active {
  stroke-width: 2;
  stroke: #ff8400;
}

.background {
  fill: #eee;
}

.gridline {
  stroke: #fff;
  stroke-width: 1px;
}