#header {
  margin-bottom: 25px;
}

text {
  pointer-events: none;
  margin: 0px;
  padding: 0px;
  text-anchor: middle;
}

.loading-text {
  font-size: 16px;
}

.node circle {
  fill: #c5d7ea;
}

.hover circle {
  fill: #acbed1;
}

.selected circle {
  fill: #99c0e5;
  stroke: #6081a3;
  stroke-width: 2px;
}

#input {
  width: 100%;
  text-align: center;
}

#wordInput {
  width: 250px;
}

#results-header {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

#results-header h2 {
  font-weight: lighter;
  margin: 0px;
}

.result {
  width: 460px;
  overflow: hidden;
}

.result-title {
  margin: 0px;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 2px;
}

.result p {
  margin: 0px;
  margin-bottom: 8px;
}

.result hr {
  margin-bottom: 20px;
  margin-top: 20px;
  height: 1px;
  background-color: #ccc;
  border: none;
}

.header-highlight {
  font-weight: bold;
  color: #6081a3; 
}

.quote-highlight {
  padding: 1px 3px;
  background-color: #d6dfe6;
  border-radius: 2px;
}

.result-quote {
  font-size: 14px;
  border-left: 0px solid #eaeaea;
  padding-left: 0px;
}

.result .result-spacer {
  margin: 0px;
  margin-bottom: -31px;
  text-align: center;
  color: #ddd;
  font-size: 52px;
  line-height: 52px;
}

