#header {
  margin-bottom: 25px;
}

#chart {

}

text {
  pointer-events: none;
  margin: 0px;
  padding: 0px;
  text-anchor: middle;
}

.loading-text {
  font-size: 16px;
}



.node circle {
  fill: #c5d7ea;
}

.hover circle {
  fill: #acbed1;
}

.selected circle {
  fill: #99c0e5;
  stroke: #6081a3;
  stroke-width: 2px;
}

#input {
  width: 100%;
  text-align: center;
}

#wordInput {
  width: 250px;
}

#results-header {
  text-align: center;
}

.result {
  width: 460px;
}

.result p {
  font-size: 14px;
  margin: 0px;
  margin-bottom: 8px;
}

.result hr {
  margin-bottom: 20px;
  margin-top: 20px;
}

.header-highlight {
  padding: 2px 6px;
  background-color: #99c0e5;
  border-radius: 5px;
}

.quote-highlight {
  padding: 2px 3px;
  background-color: #c5d7ea;
  border-radius: 5px;
}



