#header {
  margin-bottom: 25px;
}

text {
  pointer-events: none;
  margin: 0px;
  padding: 0px;
  text-anchor: middle;
}

.loading-text {
  font-size: 16px;
}

.node circle {
  fill: #c5d7ea;
}

.hover circle {
  fill: #acbed1;
}

.selected circle {
  fill: #99c0e5;
  stroke: #6081a3;
  stroke-width: 2px;
}

#input {
  width: 100%;
  text-align: center;
}

#wordInput {
  width: 250px;
}

#results-header {
  text-align: center;
}

#results-header h2 {
  font-weight: lighter;
  margin-top: 10px;
  margin-bottom: 30px;
}

.result {
  width: 460px;
}

.result p {
  overflow: hidden;
  font-size: 14px;
  margin: 0px;
  margin-bottom: 8px;
}

.result .title {
  font-size: 16px;
}

.result hr {
  margin-bottom: 20px;
  margin-top: 20px;
}

.header-highlight {
  font-weight: bold;
  color: #6081a3; 
}

.quote-highlight {
  padding: 2px 3px;
  background-color: #e6f1fb;
  border-radius: 5px;
}


.grid-item { width: 200px; }




