#header {
  margin-bottom: 25px;
}

.country {
  stroke: black;
  stroke-width: 0.3;
}

.highlight {
  stroke: orange;
  stroke-width: 3;
}

.outline {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}

.gridline {
  fill: none;
  stroke: #f1f1f1;
}

#tooltip { 
  position: absolute;               
  pointer-events: none;   
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 2px 5px;
}

#tooltip .label { 
  color: orange;
  font-weight: bold;
}

#tooltip p {
  padding: 0px;
  margin: 0px;
}

.result p {
  font-size: 14px;
  margin: 0px;
  margin-bottom: 8px;
}

.result hr {
  margin-bottom: 20px;
  margin-top: 20px;
}
