#header {
  margin-bottom: 25px;
}

.country {
  stroke: black;
  stroke-width: 0.3;
}

.highlight {
  stroke: orange;
  stroke-width: 3;
}

.outline {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}

.gridline {
  fill: none;
  stroke: #f1f1f1;
}

#tooltip { 
  position: absolute;               
  pointer-events: none;   
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 2px 5px;
}

#tooltip .label { 
  color: orange;
  font-weight: bold;
}

#tooltip p {
  padding: 0px;
  margin: 0px;
}

.result p {
  font-size: 14px;
  margin: 0px;
  margin-bottom: 8px;
}

.result hr {
  margin-bottom: 20px;
  margin-top: 20px;
}

#results-header {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

#results-header h2 {
  font-weight: lighter;
  margin: 0px;
}

.result {
  width: 460px;
  overflow: hidden;
}

.result-title {
  margin: 0px;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 2px;
}

.result p {
  margin: 0px;
  margin-bottom: 8px;
}

.result hr {
  margin-bottom: 20px;
  margin-top: 20px;
  height: 1px;
  background-color: #ccc;
  border: none;
}